


<div class="container mt-4 mb-4">
    <h2   class="" >À Propos</h2>
    <hr>


    

    <div class="row m-3" style="padding-top: 3% ;">
        <div class="col-md-6" style="border-right: 0.5rem  solid ; border-radius: 5%;border-right-color: darkgoldenrod;">
            <img width="90%" height="400px" style="border-radius: 15%; box-shadow:  8px 8px 12px #aaa;" src="https://i.ibb.co/pPHR3d4/solaroc-bureau.jpg" alt="">
        </div>
        <div class="col-md-6 " style="padding-left: 30px; padding-top: 20px;">
            <p >
                Notre engagement
                <strong>Leader</strong>   dans le domaine de <strong>l’énergie solaire</strong>  photovoltaïque, <strong>SOLAROC</strong>   fabrique et fournit à ses partenaires des solutions solaires photovoltaïque innovantes et adaptés à leurs besoins.
                
                Nous sommes engagé pour rendre <strong>l’énergie solaire</strong>  accessible à tous et d’en faire une réelle alternative à la production d’énergie conventionnelle
            </p>
            <p >
                Allant du  <strong>Filtre à eau</strong> , en passant  par <strong>l'Eclairage</strong>  , ainsi que les <strong>Chauffe-eaux</strong>  et le <strong>Pompage solaire</strong>  , notre équipe dispose d’une <strong>expertise</strong>  terrain qui vous assiste au quotidien dans vos projets.

                Parce que chaque projet est unique, nos partenaires  et installateurs  sont formés sur l’ensemble de nos solutions solaire et produits afin d'assurer la qualité et la continuité de service de vos installations solaire.
            </p>
        </div>
    </div>
    <br>
</div>



