  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">ImadTech</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" target="_blank"  href="https://www.facebook.com/solaroc.solarpower"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>