<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-3" routerLink="/"><img style="width: 85px; height: 85px;" src="https://i.ibb.co/xqmxP2Z/sollog.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " style="padding-left: 26%;" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active ml-2" routerLink="/">Accueil</a>
        <a class="nav-item nav-link ml-2" routerLink="/about">À propos</a>
        <a class="nav-item nav-link ml-2" routerLink="/projets">Projets-réalisés</a>
        <a class="nav-item nav-link ml-2" routerLink="/services">Services</a>
        <a class="nav-item nav-link ml-2" routerLink="/contact">Contact</a>
      </div>
    </div>
    <div class="row">
      <a style="color: black; cursor: pointer; font-size: 1.3em; padding-right: 30px;" target="_blank"  href="https://www.facebook.com/solaroc.solarpower"><i class="fa fa-facebook"></i></a>
    </div>
  </nav>
  
  