
<a class="btn btn-warning m-3" routerLink="/">Retour en Accueil</a>
    <h2 align="center" id="chauffage"  class="mt-4">CHAUFFAGE EAU</h2>

    <div align="center">
        <div class="card mb-3 mt-4" style="width: 80%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="https://i.ibb.co/7Wh9xqZ/imageonline-co-logoadded-7.png" height="350px"  class="card-img" alt="chauffe-eau">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text" style="font-size: 1.2em;">Importés d'Europe, SOLAROC met à votre disposition des chauffe-eaux solaire Haute technologie, composés de :</p>
                  <ul align="left">
                    <li>
                        <strong>Collecteurs type eco :</strong><br> &nbsp;- Panneaux nouvelle génératon combinent parfaitement, esthétique, résistance et performance.
                    </li><br>
                    <li>
                        <strong>Accumulateurs orizontaux et verticaux de 2 circuits :</strong><br> &nbsp;- Panneaux nouvelle génératon combinent parfaitement, esthétique, résistance et  performance.
                    </li><br>
                    <li>
                        <strong>Structures pour système de thermosyphon :</strong><br> &nbsp;- Fabriqué en acier galvanisé. <br> &nbsp;- Accessoires adaptés pour tout type d'installation.
                    </li>
                  </ul>
                  <p class="card-text"><small class="text-muted">SOLAROC</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br>