<a class="btn btn-warning m-3" routerLink="/">Retour en Accueil</a>


<h2 align="center" class="mt-4">POMPAGE SOLAIRE</h2>
<div align="center">
      <div class="card mb-3 mt-4" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/3v0RQcR/imageonline-co-logoadded-4.png" class="card-img" alt="pompe solaire">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <p class="card-text" style="font-size: 1.2em;">Une pompe solaire vous épargne tout payement et est un investissement vite changeable entre tout puits hors réseau.</p>
                <ul align="left">
                  <li>
                      Groupe Electro-pompe :<br> &nbsp;Large gamme de pompes adaptée à chaque application et au besoin du client.
                  </li><br>
                  <li>
                      Convertisseurs :<br> &nbsp;Disponible en plusieurs puissances pour diverses installations.<br> &nbsp; Efficacité, fiabilité et performance.
                  </li><br>
                  <li>
                    Panneaux Photovoltaiques :<br> &nbsp; Excellente performance même exposée à de faibles ensoleillements.
                  </li>
                </ul>
                <p class="card-text"><small class="text-muted">SOLAROC</small></p>
                <button hidden (click)=scroll(target)>sss</button>
            </div>
          </div>
        </div>
      </div>
</div>
<br>