<div  style="background-color:goldenrod; "   >
    <div class=" ml-5 mr-5 mb-5">
        <h2 style="padding-top: 3%;">Nos services </h2>
    <hr>
    <div class="row mx-auto " >
        
            <div class="col-md-3" align="center" >
            <div class="card m-2" style="width: 95%;" >
                <img class="card-img-top "  style="width: 100%; height: 200px;" src="https://i.ibb.co/8BwtLFN/imageonline-co-logoadded-6.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Pompage solaires</h5>
                  <a href="solaroc/services#pompage" class="btn btn-info" style="margin:auto;display: block;">Plus d'infos</a>
                </div>
            </div>
            </div>
            
              
            <div class="col-md-3" align="center">
                <div class="card m-2" style="width: 95%;" >
                    <img class="card-img-top" style="width: 100%; height: 200px;" src="https://i.ibb.co/7Wh9xqZ/imageonline-co-logoadded-7.png" alt="Chauffe eau">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Chauffe-eaux</h5>
                      <a href="solaroc/services#chauffage" class="btn btn-info" style="margin:auto;display: block;">Plus d'infos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3" align="center" >
                <div class="card m-2" style="width: 95%;" >
                    <img class="card-img-top" style="width: 100%; height: 200px;" src="https://i.ibb.co/yF83v0L/imageonline-co-logoadded-3.png" alt="Lampe">
                    <div class="card-body">
                        <h5 class="card-title " style="text-align: center;">Eclairage </h5>
                        <a href="solaroc/services#eclairage" class="btn btn-info" style="margin:auto;display: block;">Plus d'infos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3" align="center">
                <div class="card m-2" style="width: 95%;" >
                    <img class="card-img-top" style="width: 100%; height: 200px;" src="https://i.ibb.co/2qZTrHs/imageonline-co-logoadded-1.png" alt="Filtre">
                    <div class="card-body">
                        <h5 class="card-title " style="text-align: center;">Filtre à eau </h5>
                        <a href="solaroc/services#filtre" class="btn btn-info" style="margin:auto;display: block;">Plus d'infos</a>
                    </div>
                </div>
            </div>
    </div>
    
            
            
    
    </div>
    <br>
</div>