<app-navbar></app-navbar>

<div >


    <div style="background-color: darkgoldenrod;">

        <div class=" ">
            <div class="row " >
                
                <iframe width="100%" height="600"
                             src="https://www.youtube.com/embed/wZT0fOjQSgU">
                        </iframe>
            
            </div>
    
            <div class="row">
                
            </div>
        </div>
    </div>
    
    

    <h2 align="center" id="chauffage"  class="mt-4">CHAUFFAGE EAU</h2>

<div align="center">
    <div class="card mb-3 mt-4" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/7Wh9xqZ/imageonline-co-logoadded-7.png" height="350px"  class="card-img" alt="chauffe-eau">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text" style="font-size: 1.2em;">Importés d'Europe, SOLAROC met à votre disposition des chauffe-eaux solaire Haute technologie, composés de :</p>
              <ul align="left">
                <li>
                    <strong>Collecteurs type eco :</strong><br> &nbsp;- Panneaux nouvelle génératon combinent parfaitement, esthétique, résistance et performance.
                </li><br>
                <li>
                    <strong>Accumulateurs orizontaux et verticaux de 2 circuits :</strong><br> &nbsp;- Panneaux nouvelle génératon combinent parfaitement, esthétique, résistance et  performance.
                </li><br>
                <li>
                    <strong>Structures pour système de thermosyphon :</strong><br> &nbsp;- Fabriqué en acier galvanisé. <br> &nbsp;- Accessoires adaptés pour tout type d'installation.
                </li>
              </ul>
              <p class="card-text"><small class="text-muted">SOLAROC</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<br>
      <hr color=" burlywood" id="pompage">

      <h2 align="center" class="mt-4">POMPAGE SOLAIRE</h2>
<div align="center">
      <div class="card mb-3 mt-4" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/3v0RQcR/imageonline-co-logoadded-4.png" class="card-img" alt="pompe solaire">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <p class="card-text" style="font-size: 1.2em;">Une pompe solaire vous épargne tout payement et est un investissement vite changeable entre tout puits hors réseau.</p>
                <ul align="left">
                  <li>
                      Groupe Electro-pompe :<br> &nbsp;Large gamme de pompes adaptée à chaque application et au besoin du client.
                  </li><br>
                  <li>
                      Convertisseurs :<br> &nbsp;Disponible en plusieurs puissances pour diverses installations.<br> &nbsp; Efficacité, fiabilité et performance.
                  </li><br>
                  <li>
                    Panneaux Photovoltaiques :<br> &nbsp; Excellente performance même exposée à de faibles ensoleillements.
                  </li>
                </ul>
                <p class="card-text"><small class="text-muted">SOLAROC</small></p>
                <button hidden (click)=scroll(target)>sss</button>
            </div>
          </div>
        </div>
      </div>
</div>
<br>
<hr color=" burlywood" id="eclairage" >
<h2 align="center" class="mt-4">ECLAIRAGE PUBLIC & DOMESTIQUE</h2>
<div align="center" >
      <div class="card mb-3 mt-4" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/yF83v0L/imageonline-co-logoadded-3.png" class="card-img" alt="lampadaire solaire">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <ul align="left">
                  <li>
                      Lampadaires photovoltaiques (All in one) :<br> &nbsp;-Panneau solaire<br> &nbsp;-Batterie Lithium<br> &nbsp;-LED
                  </li><br>
                  <li>
                    Batterie de stockage :<br> &nbsp;-Batterie AGM<br> &nbsp;-Batterie à Gel
                  </li><br>
                  <li>
                    Luminaires & Projecteurs LED :<br> &nbsp; Garantie d'économie d'énegie adaptée à chaque goût et style de logement.
                  </li>
                </ul>
                <p class="card-text"><small class="text-muted">SOLAROC</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<br>

<br>
<hr color=" burlywood" id="filtre" class="filtre" #target >
<h2 align="center" class="mt-4">Filtre à Eau</h2>
<div align="center" >
      <div class="card mb-3 mt-4" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/2qZTrHs/imageonline-co-logoadded-1.png" class="card-img" alt="Filtre à eau">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text" style="font-size: 1.2em;">Pour votre santé, optez pour notre filtre à eau. Nous vous offrons le meilleur service et la meilleure qualité qui existe sur le marché.</p>
                <ul align="left">
                  <li>
                    Eau filtrée illimitée maintenez facilement votre accès illimité à de l'eau potable filtrée et purifiée directement à partir de votre évier de cuisine.
                  </li><br>
                  <li>
                    Conception compacte Conception compacte sous l'évier pour un accès illimité à une eau de boisson au goût délicieux idéale pour la boisson et les préparations culinaires.
                  </li><br>
                  <li>
                    Installation facile des tuyaux avec un code de couleurs associés à notre guide d'installation simplifient plus que jamais le processus d'installation Robinet et réservoir d'eau inclus.
                  </li><br>
                  <li>
                    Changements rapides de filtres La conception du filtre encapsulé permet des changements rapides de filtres sans avoir à couper l'alimentation en eau.
                  </li><br>
                </ul>
                <p class="card-text"><small class="text-muted">SOLAROC</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<br>

    <!--
      <div class="card" style="width: 18rem; text-align: center; margin-left: 40%;">
        <img src="https://www.quelleenergie.fr/magazine/wp-content/uploads/2017/07/chauffe-eau.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <hr><h5 class="card-title" style="color: cornflowerblue;">CHAUFFAGE EAU</h5><hr>
          <p class="card-text">Importés d'Europe, SOLAROC met à votre disposition des chauffe-eaux solaire Haute technologie, composés de:</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <strong>Collecteur type eco:</strong> <br> - Panneaux nouvelle génératon combinent parfaitement, esthétique, résistance et performance.</li>
          <li class="list-group-item"><strong>Accumulateurs orizontaux et verticaus de 2 circuits:</strong> <br> - Fabriqués selon les normes internationales de qualité et exigence Européenne.</li>
          <li class="list-group-item"><strong>Structures pour système de thermosyphon</strong> <br> - Accessoires adaptés pour tout type d'installation.</li>
        </ul>
      </div>
      <br><br>
    
    <div style="background-color: darkkhaki;">
        <div class="spinner-border" style="width: 3rem; height: 3rem; margin-left: 48%;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
    </div>
      
    
      
      <div class="card" style="width: 18rem; text-align: center; margin-left: 40%;">
        <img src="https://www.myshop-solaire.com/myshop_images/produits/kit-pompage-solaire-600w-ps2-600-immergee-c-sj8-5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <hr><h5 class="card-title" style="color: darkorange;">POMPAGE SOLAIRE</h5><hr>
          <p class="card-text">Une pompe solaire vous épargne tout payement et est un investissement vite changeable entre tout puits hors réseau.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <strong>Groupe Electro-pompe :</strong> <br> - Large gamme de pompes adaptée à chaque application et au besoin du client.</li>
          <li class="list-group-item"><strong>Convertisseurs :</strong> <br> - Disponibles en plusieurs puissances pour diverses installations, Efficacité fiabilité et performance .</li>
          <li class="list-group-item"><strong>Panneaux photovoltaiques :</strong> <br> - Excellente performance même exposée à de faibles ensoleillements.</li>
        </ul>
      </div>
      <br><br><br>


</div>



   
    <div class="container" >

        <div class="row">
            <div class="col-md-4 " style="margin-right: 0px;">
                <div class="circle">
                    
                    <div class="circle2">
                        <p style="color: black; text-align: center;">zdadza</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="row">
                    <div class="circle3">
                        <div class="circle4">
                            <p style="color: black; text-align: center; margin-top: 30%;">zdadzavdvd ddfdfdfdfd</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="circle3">
                        <div class="circle4">
                            <p style="color: black; text-align: center;">zdadza</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="row">
                    <div class="circle3">
                        <div class="circle4">
                            <p style="color: black; text-align: center;">zdadza</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="circle3">
                        <div class="circle4">
                            <p style="color: black; text-align: center;">zdadza</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
-->


<app-footer></app-footer>